page-register{

    ion-content
    {
        margin-top: 15px;
        button
        {
            //padding: 15px;
        }
    }
    #userName
    {
        margin-top: 30px;
    }
    #haveAcct
    {
        margin-top: 50px;
    }
    
    
}